body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FBFAF7;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.container-fluid{
	margin-top:50px;
}

.head{
	background-color: #171717;
	color: #FDFDFB;	
}

.head img{
	width: 60%;	
}

.content iframe{
	
}
